.App {
  padding: 10px;
  /* display: flex; */
}
.todoWrapper {
  display: flex;
}
.wrapper {
  margin: 20px;
}
.wrapper h3 {
  padding-left: 15px;
}
.isDone {
  text-decoration: line-through;
}

.activeBtn {
  color: white;
  background-color: rgb(45, 142, 239);
  font-weight: 500;
}

.btnBlock {
  display: flex;
  justify-content: space-around;
}
.btnBlock button {
  /* margin: 2px; */
}
.error {
  border: 1px solid red;
  outline: none;
}
.notError {
  outline: none;
}
.errorMessage{
  color: red;
  padding: 3px 10px ;
}